{{define "layout"}}
<!DOCTYPE html>
<html
    lang="en"
    xmlns:x-on="http://www.w3.org/1999/xhtml"
>
    <head>
        {{template "head" .}}
    </head>
    <body x-data="{ narrowMode: false, menuOpen: false }" @resize.window="if (window.innerWidth < 1024) menuOpen = false">
        <div class="root" :class="narrowMode && 'reading-mode'" x-transition>
            <button class="mobile-menu-toggle" x-on:click="menuOpen = !menuOpen">
                <span x-cloak x-show="!menuOpen" class="material-icons">&#xe9bd;</span>
                <span x-cloak x-show="menuOpen" class="material-icons">&#xe5cd;</span>
            </button>
            <aside class="user-menu">
                <div class="logo">
                    <img src="/assets/default23/favicon/favicon-32x32.png" />
                    <h1>{{.Metadata.CommunityName }}</h1>
                </div>
                <div class="badge">
                    <div class="user-info">
                        <img src="/assets/default23/avatar.png" alt="Avatar" class="avatar">
                        <div class="user">
                            <a href="#">amigouserno1</a>
                            <br />
                            <nav>
                                notifications (23)
                            </nav>
                        </div>
                    </div>
                    <div class="user-stats">
                        <div class="stat">
                            <div class="row middle-xs">
                                <img src="/assets/default23/favicon/favicon-32x32.png" class="icon-xs" />
                                <h5>1</h5>
                            </div>
                            <p>awards</p>
                        </div>
                        <div class="stat">
                            <div class="row middle-xs">
                                <img src="/assets/default23/icons/post.png" class="icon-xs">
                                <h5>215</h5>
                            </div>
                            <p>convos</p>
                        </div>
                    </div>
                </div>
                <nav class="main-nav" :class="menuOpen || 'menu-open'" x-transition>
                    <ul>
                        <li class="active">Recent Activity</li>
                        <li>Rules</li>
                        <li>Members</li>
                    </ul>
                    <div class="spacer"></div>
                    <h6>Favourites</h6>
                    <ul>
                        <li>Tech/Mac</li>
                    </ul>
                    <h6>Community</h6>
                    <ul>
                        <li>Announcements</li>
                        <li>Arrivals & Departures</li>
                        <li>AMA</li>
                        <li>Post Games</li>
                    </ul>
                </nav>
            </aside>
            <main>
                <div class="utils">
                    <div class="search">
                        <span class="material-icons">&#xe8b6;</span>
                        <input type="text" name="q" placeholder="Search Amigo..." autocomplete="off" inputmode="">
                    </div>
                    <button class="utils-button" x-on:click="narrowMode = !narrowMode" hidden>
                        <span x-cloak x-show="!narrowMode" class="material-icons">&#xf8f6;</span>
                        <span x-cloak x-show="narrowMode" class="material-icons">&#xf8f5;</span>
                    </button>
                </div>
                <div class="content">
                    {{template "main" .}}
                </div>
                {{template "footer" .}}
            </main>
        </div>
    </body>
</html>
{{end}}